-e .[all]
-r requirements-tests.txt
-r requirements-docs.txt
uvicorn[standard] >=0.12.0,<0.23.0
pre-commit >=2.17.0,<4.0.0
# For generating screenshots
playwright
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
